*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
    --font:'Poppins', sans-serif;

    font-size: 62.5%;
  }

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
    border: 1px solid red ;
}

main{
    display: flex;
    flex-direction: row;
    margin: 10.7rem auto;
    gap: 8.2rem;
    border: 1px solid black;
}
main img{
    width: 60.7rem;
    height: 42.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    width: 49.4rem;
    border: 1px solid red;
    align-items: center;
}

.card h1{
    font-size: 3.6rem;
    text-transform: uppercase;
    color: var(--purple);
    font-weight: 700;
    margin-bottom: 1.9rem;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left:2.9rem ;
}
li{
    margin-right: 6.1rem;
    font-size: 1.4rem;
    font-weight: 300;
}
.all{
    display: flex;
    margin-top: 1.9rem;
}

.dias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.teste{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-size: 1.4rem;
    font-weight: 300;
}

span{
    font-weight: 400;
    font-size: 7.2rem;
    
}

.text{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 4.6rem;
}

button{
    margin-top: 3.1rem;
}